{{!-- <h2>Test index trallala</h2>--}}
{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}
    {{#paper-item}}
      <a href="/"><img src="assets/images/quiz_db_small.png"></a>
    {{/paper-item}}
    <span class="flex"></span>
    <div class="layout-row hide show-xs">
      {{#paper-menu as |menu|}}
        {{#menu.trigger}}
          {{#paper-button class="nav-bar-burger" noInk=true iconButton=true}}
            {{paper-icon "menu"}}
          {{/paper-button}}
        {{/menu.trigger}}
        {{#menu.content width=3 as |content|}}
          {{#content.menu-item onClick="openSomething" disabled=true}}
            {{link-login}}
          {{/content.menu-item}}
          {{#content.menu-item onClick="openSomething" disabled=true}}
            {{link-back}}
          {{/content.menu-item}}
        {{/menu.content}}
      {{/paper-menu}}
    </div>
    <div class="layout-row hide-xs">
      {{button-login}}
      {{button-back}}
    </div>
  {{/toolbar.tools}}
{{/paper-toolbar}}

<div class="layout-row flex"></div>
<div class="layout-row layout-align-center-center">
  <div class="flex-10 flex-gt-sm-35"></div>
  <div class="layout-column flex">
    {{paper-input label="Username" value=username onChange=(action (mut username))}}
    {{paper-input label="Email" value=email onChange=(action (mut email))}}
    {{paper-input label="Password" type="password" value=password onChange=(action (mut password))}}
    {{paper-input label="Confirm password" type="password" value=confirmPassword onChange=(action (mut confirmPassword))}}
  </div>
  <div class="flex-10 flex-gt-sm-35"></div>
</div>
<div class="layout-row layout-align-left-center">
  <div class="flex-10 flex-gt-sm-35"></div>
  <div>
    <div class="layout-row">
      {{#paper-button onClick=(action "login") class="button-sign-up" raised=true}}
        Sign up
      {{/paper-button}}
      {{button-back}}
    </div>
  </div>
  <div class="flex-10 flex-gt-sm-35"></div>
</div>
