{{!-- <h2>Test index trallala</h2>--}}

{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}
    {{#paper-item}}
      <a href="/"><img src="assets/images/quiz_db_small.png"></a>
    {{/paper-item}}
    <span class="flex"></span>
    <div class="layout-row hide show-xs">
      {{#paper-menu as |menu|}}
        {{#menu.trigger}}
          {{#paper-button class="nav-bar-burger" noInk=true iconButton=true}}
            {{paper-icon "menu"}}
          {{/paper-button}}
        {{/menu.trigger}}
        {{#menu.content width=3 as |content|}}
          {{#content.menu-item onClick="openSomething" disabled=true}}
            {{link-login}}
          {{/content.menu-item}}
          {{#content.menu-item onClick="openSomething" disabled=true}}
            {{link-back}}
          {{/content.menu-item}}
        {{/menu.content}}
      {{/paper-menu}}
    </div>
    <div class="layout-row hide-xs">
      {{button-login}}
      {{button-back}}
    </div>
  {{/toolbar.tools}}
{{/paper-toolbar}}

<div class="layout-row flex"></div>

{{#paper-form onSubmit=(action "signUp" username email password confirmPassword) as |form|}}
  <div class="layout-row layout-align-center-center">
    <div class="flex-10 flex-gt-sm-35"></div>
    <div class="layout-column flex">
      {{form.input label="Username" value=username onChange=(action (mut username)) required=true}}
      {{form.input label="Email" value=email onChange=(action (mut email)) required=true}}
      {{form.input label="Password" type="password" value=password onChange=(action (mut password)) required=true}}
      {{form.input label="Confirm password" type="password" value=confirmPassword onChange=(action (mut confirmPassword)) required=true}}
    </div>
    <div class="flex-10 flex-gt-sm-35"></div>
  </div>
  <div class="layout-row layout-align-left-center">
    <div class="flex-10 flex-gt-sm-35"></div>
    <div>
      <div class="layout-row">
        {{#form.submit-button raised=true primary=true class="button-sign-up" disabled=form.isInvalid}}
          Submit
        {{/form.submit-button}}
        {{!-- {{#paper-button onClick=(action "login") class="button-sign-up" raised=true}}
          Sign up
        {{/paper-button}}--}}
        {{button-back}}
      </div>
    </div>
    <div class="flex-10 flex-gt-sm-35"></div>
  </div>
{{/paper-form}}



{{!--
<form {{action "onSignUp" username email password on="submit"}}>
  <div>
    <label>Username</label>
    {{input type="username" value=username}}
  </div>
  <div>
    <label>Email</label>
    {{input type="email" value=email}}
  </div>
  <div>
    <label>Password</label>
    {{input type="password" value=password}}
  </div>
  <button type="submit">Sign Up</button>
</form>
--}}
